:root {
  /* Default / Light Mode Palette */
  --primary: #2E1A47;
  --secondary: #476C7B;
  --accent: #37a398;
  --text-main: #2E1A47;
  --text-light: #2E1A47;
  --bg-main: #F8FAFC;
  --bg-card: #FFFFFF;
  --border-color: rgba(71, 108, 123, 0.15);
  --cards-background :#EDFBFA ;
}

[data-theme='dark'] {
  /* Dark Mode Palette */
  --primary: #2E1A47;
  --secondary: #476C7B;
  --accent: #67E0D4;
  --text-main: #E8FFF8;
  --text-light: #E8FFF8;
  --bg-main: #1A1425;
  --bg-card: #241B35;
  --border-color: rgba(103, 224, 212, 0.15);
  --cards-background :var(--bg-card);
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}